*{
    box-sizing: border-box;
}

@font-face {
    font-family: tbcx;
    src: url("/TBCXRegular.woff2") format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: tbcx;
    src: url("/TBCXMedium.woff2") format("woff2");
    font-weight: 500;
  }
  @font-face {
    font-family: tbcx;
    src: url("/TBCXBold.woff2") format("woff2");
    font-weight: 700;
  }

body, html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #555f62;
    background-color: #f9fafa;
    font-family: TBCX, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin-bottom: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

.spacer-16 {
    width: 16px;
    height: 16px;
}

.spacer-24 {
    width: 24px;
    height: 24px;
}

h1, h2 {
    line-height: 1.5;
}

h1, h2, h3 {
    color: #141719;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
}

.page-wrapper {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.default-layout {
    padding-top: 80px;
}

.header {
    z-index: 100;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eef1f1;
    padding-left: 47px;
    padding-right: 47px;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
}

.header_buttons {
    grid-column-gap: 16px;
}

.header_buttons, .header_container {
    align-items: center;
    margin-left: auto;
    display: flex;
}

.header_container {
    z-index: 103;
    width: 100%;
    height: 100%;
    max-width: 1110px;
    grid-column-gap: 32px;
    justify-content: flex-start;
    margin-right: auto;
    position: relative;
}

.header_logo-link {
    width: 165px;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

a {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.header_logo {
    align-items: center;
    display: flex;
}

.header_logo.is-mobile {
    display: none;
}

.header_menu {
    height: 100%;
    grid-column-gap: 32px;
    flex: 1;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}

.w-dropdown {
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.w-dropdown {
    display: inline-block;
    z-index: 900;
}

.w-dropdown, .w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.header_dropdown {
    height: 100%;
    color: #141719;
    margin-left: 0;
    margin-right: 0;
}

.w-dropdown-btn, .w-dropdown-link, .w-dropdown-toggle {
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    white-space: nowrap;
}

.header_dropdown-bg {
    z-index: 102;
    min-height: 248px;
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: height .6s ease-in-out;
    display: none;
    position: absolute;
    top: 80px;
    bottom: auto;
    left: 0;
    right: 0;
}

.header_dropdown-bg {
    transition: .4s;
}

.d-block {
    display: block;
    min-height: 167px;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 40px;
}

.quick-fade-enter, .quick-fade-leave-to {
    opacity: 0;
}

.quick-fade-enter-active, .quick-fade-leave-active {
    transition: opacity .4s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active  {
    transition-duration: 1s;
    transition-property: opacity;
    transition-timing-function: ease;
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity ,5s ease;
}

.header_dropdown-toggle {
    height: 100%;
    align-items: center;
    padding: 0;
    display: flex;
}

.w-dropdown-toggle {
    cursor: pointer;
}

.header_dropdown-list.w-dropdown-list{
    opacity: 0;
    pointer-events: none;
    transition: .6s;
}

.header_dropdown-list.w-dropdown-list.active {
    opacity: 1;
    pointer-events: all;
    transition-delay: .6s;
}

.header_dropdown-link-block-img-wrapper {
    width: 100%;
    margin-bottom: 21px;
    padding-top: 71%;
    position: relative;
}

.header_dropdown-link-block-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header_menu-mobile {
    display: none;
    z-index: 102;
    background-color: #f9fafa;
    flex-direction: column;
    padding-top: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.d-block {
    display: block;
    min-height: 167px;
}

.header_menu-button {
    grid-row-gap: 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    transition: color .25s;
    display: none;
    position: relative;
}

.header_menu-mobile-inner {
    max-height: 100%;
}

.header_menu-mobile-inner {
    flex-direction: column;
    flex: 1;
    display: flex;
    overflow: auto;
}

.header_menu-mobile-main {
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    flex: 1;
    display: flex;
}

.header_menu-mobile-bottom {
    background-color: #fff;
    border-top: 1px solid #eef1f1;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 12px;
}

.header_menu-mobile-contacts {
    flex: 1;
    padding: 32px 47px;
}

.header_mobile-dropdown {
    border-bottom: 1px solid #d1d5d6;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 32px;
    padding-left: 47px;
    padding-right: 47px;
}

.header_mobile-dropdown-toggle {
    width: 100%;
    max-width: 1110px;
    color: #141719;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
}

.header_mobile-dropdown-arr.active {
    transform: rotate(180deg);
}

.header_mobile-dropdown-arr {
    transition: .6s;
}

.header_mobile-dropdown-arr {
    justify-content: center;
    align-items: center;
    display: flex;
}

.header_mobile-dropdown-list {
    height: 0;
    grid-row-gap: 16px;
    transition: height 900ms ease;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    position: static;
    overflow: hidden;
}

.header_mobile-dropdown-list-inner {
    width: 100%;
    max-width: 1110px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
}

.header_dropdown-line {
    transition: .6s;
    transform: scaleX(0);
}

.header_dropdown-line {
    width: 100%;
    height: 2px;
    transform-style: preserve-3d;
    background-color: #182cc0;
    border-radius: 1px;
    margin-bottom: -1px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.header_dropdown-line.active {
    transform: scaleX(1);
}

.footer_dropdown-list-div.active {
    height: 88px;
    overflow: hidden;
    transition-property: height;
    transition: height 900ms ease;
}

.header_mobile-dropdown-list.w-dropdown-list.active {
    height: 88px;
    overflow: hidden;
    background: none;
    position: relative;
    display: block;
}

.search-hover-color:hover{
    color: #007aff;
}

.w-dropdown-list {
    position: absolute;
    background: #ddd;
    display: none;
    min-width: 100%;
}


.header_dropdown-list {
    min-width: 200px;
    grid-row-gap: 16px;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    display: none;
}

.header_dropdown-link {
    padding-right: 47px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.w-dropdown-link {
    padding-right: 47%;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

.c-cursor-pointer{
    cursor: pointer;
}

.header_dropdown-link-block {
    width: 190px;
    text-decoration: none;
}

@keyframes linkFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes linkFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.link-fade-enter-active {
    animation: linkFadeIn 0.5s ease forwards;
}

.link-fade-leave-active {
    animation: linkFadeOut 0.5s ease forwards;
}



.header_search-button {
    justify-content: center;
    align-items: center;
    padding: 8px;
    transition: color 0.25s;
    display: flex;
}

.arrow-link {
    grid-column-gap: 6px;
    color: #182cc0;
    text-transform: uppercase;
    flex: none;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    display: flex;
}

.button_icon {
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: transform .6s ease-in-out;
    display: flex;
    position: relative;
}

.button_text {
    z-index: 2;
    margin-top: 2px;
    transition: transform .6s ease-out;
    position: relative;
}

.header_menu-button {
    grid-row-gap: 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    transition: color 0.25s;
    display: none;
    position: relative;
}

.header_menu-button.active .header_menu-button-line-2 {
    opacity: 0;
}

.header_menu-button-line-2 {
    transition: .6s;
}

.header_menu-button.active .header_menu-button-line-1 {
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 20px;
    height: 2px;
}

.header_menu-button-line-1 {
    transition: .6s;
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 11px;
    height: 2px;
}

.header_menu-button-line-1 {
    transition: .6s;
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 11px;
    height: 2px;
}

.header_menu-button-line-1 {
    width: 11px;
    height: 2px;
    transform-origin: 100%;
    background-color: #555f62;
    border-radius: 1px;
}

.header_menu-button-line-2 {
    width: 20px;
    height: 2px;
    background-color: #555f62;
    border-radius: 1px;
}

.header_menu-button.active .header_menu-button-line-3 {
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 20px;
    height: 2px;
}

.header_menu-button-line-3 {
    transition: .6s;
    transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    width: 15px;
    height: 2px;
}

.header_menu-button-line-3 {
    width: 15px;
    height: 2px;
    transform-origin: 100% 100%;
    background-color: #555f62;
    border-radius: 1px;
}

.lang_dropdown {
    z-index: 5;
    position: relative;
}

.lang_dropdown:hover .lang_toggle {
    background-color: #eef1f1;
}

.lang_list-item:hover {
    background-color: #f9fafa;
}

.lang_toggle {
    height: 36px;
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700;
    transition: background-color 0.25s ease-in-out;
    display: flex;
}

.icon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.lang_list-wrapper {
    grid-row-gap: 8px;
    flex-direction: column;
    padding-top: 4px;
    display: none;
    position: absolute;
    top: 36px;
    bottom: auto;
    left: 0;
    right: 0;
}

.lang_dropdown:hover .lang_list-wrapper {
    display: block;
}

.lang_list {
    color: #141719;
    background-color: #fff;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    display: flex;
    box-shadow: 0 4px 6px 2px rgba(12, 43, 67, .05);
}

.lang_list-item {
    text-align: center;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: background-color .25s ease-in-out;
}

.smooth-scroll-container {
    /* height: calc(100vh - 80px); */
    width: 100%;
}

.overflow-h{
    overflow: hidden;
}

.outline-n{
    outline: none;
}

.scroll-content {
    transform: translate3d(0px, 0px, 0px);
}

.min-height {
    position: relative;
    min-height: calc(100vh - 80px);
}

.breadcrumbs_component {
    padding-top: 24px;
    padding-bottom: 24px;
}

.padding-global {
    padding-left: 47px;
    padding-right: 47px;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.breadcrumbs {
    grid-column-gap: 4px;
    color: #555f62;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    font-size: 12px;
    display: flex;
    overflow: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

h1, h2, h3, p {
    margin-bottom: 0;
}

.breadcrumbs_current-page {
    color: #141719;
    font-weight: 500;
}

.section_home-hero {
    padding-top: 32px;
    padding-bottom: 60px;
}

section {
    display: block;
}

.banner {
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    position: relative;
}

.banner_content {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 80px;
    position: relative;
}

.banner_inner {
    height: 100%;
    justify-content: center;
    flex: 1;
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.text-color-white {
    color: #fff;
}

.big-message_text {
    color: #141719;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
}

.button {
    grid-column-gap: 6px;
    color: #fff;
    text-transform: uppercase;
    background-color: #3295ce;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
    transition: all .25s ease-in-out;
    display: flex;
    position: relative;
}

.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.button_hover {
    grid-column-gap: 6px;
    background-image: linear-gradient(15deg, #001682, #3240e5);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: opacity .25s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button:hover .button_hover {
    opacity: 0;
}

.banner_img {
    height: 102%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .25s ease-in-out;
}

.banner_img, .banner_img-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner_img-wrapper {
    height: 100%;
    opacity: .7;
    border-radius: 6px;
    overflow: hidden;
}

.section_big-message {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section_become-concept {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36;
    display: flex;
}

.grid-2-col {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.grid-card {
    min-height: 256px;
    grid-row-gap: 20px;
    color: #fff;
    background-color: #141719;
    border-radius: 8px;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.grid-card_content {
    z-index: 2;
    height: 100%;
    grid-row-gap: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px;
    display: flex;
    position: relative;
}

.grid-area {
    grid-area: span 2 / span 1 / span 2 / span 1;
}

.header_search-button:hover {
    color: #3295ce;
}

.arrow-link.is-white {
    color: #fff;
}

.arrow-link.is-white:hover {
    color: #aeaeae;
}

.arrow-link:hover {
    color: #3295ce;
}

.arrow-link {
    grid-column-gap: 6px;
    color: #182cc0;
    text-transform: uppercase;
    flex: none;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    transition: color .25s ease-in-out;
    display: flex;
}

.grid-card_img-wrapper {
    width: 100%;
    height: 100%;
    opacity: .7;
    border-radius: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.section_numbers {
    padding-top: 60px;
    padding-bottom: 60px;
}

.numbers {
    grid-column-gap: 30px;
    display: flex;
}

.numbers_number {
    color: #141719;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
}

.numbers_item {
    grid-row-gap: 16px;
    background-color: #fff;
    border-radius: 8px;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    padding: 40px 48px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
}

.number_number {
    color: #141719;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
}

.section_offers-swiper {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.heading-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    display: flex;
}

.cursor-grab {
    cursor: grab
}

.swiper-container-pointer-events {
    touch-action: grab;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    padding-bottom: 38px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide{
    height: auto;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    transition-property: transform;
}

.product-card {
    width: 100%;
    height: 100%;
    border: 1px solid #e1e4e5;
    border-radius: 8px;
    flex-direction: column;
    font-size: 14px;
    text-decoration: none;
    transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
    display: flex;
}

.product-card:hover {
    background-color: #fff;
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);
}

.product-card_img-wrapper {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 60%;
    overflow: hidden;
}

.product-card_content {
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    display: flex;
}

.logo {
    position: absolute;
    top: 16px;
    right: 0;
    width: 78px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
}

.category-wrap {
    display: flex;
}

.card-title {
    font-size: 16px;
}

.card-teaser {
    -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-teaser.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.swiper_scrollbar {
    height: 2px;
    background-color: #d1d5d6;
    border-radius: 1px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.swiper-scrollbar-drag {
    background: #182cc0;
    border-radius: 1px;
}

.swiper_scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper_nav-arrows {
    z-index: 2;
    grid-column-gap: 16px;
    justify-content: flex-end;
    align-items: center;
    margin-top: -11px;
    display: none;
}

.swiper_nav-arrow {
    z-index: 3;
    color: #182cc0;
    cursor: pointer;
    justify-content: end;
    align-items: center;
    transition: color .25s ease-in-out;
    display: flex;
    position: relative;
}

.swiper_nav-arrow.is-disabled, .swiper_nav-arrow.swiper-button-disabled {
    color: #a5aaac;
}

.section_get-app {
    padding-top: 60px;
    padding-bottom: 60px;
}

.get-app_wrapper {
    background-color: #fff;
}

.get-app_inner {
    min-height: 374px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    position: relative;
}

.get-app_img {
    max-height: 90%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 100% 100%;
    object-position: 100% 100%;
    align-self: flex-end;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.get-app_content {
    width: 55%;
    grid-row-gap: 16px;
    flex-direction: column;
    flex: none;
    align-items: flex-start;
    display: flex;
}

.get-app_buttons {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    margin-top: 8px;
    display: flex;
}

.app-button {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
    transition: background-position .25s ease-in-out;
    display: flex;
}

.app-button:hover {
    background-color: #f9fafa;
}

.app-button-mobile {
    grid-column-gap: 4px;
    color: #182cc0;
    text-transform: uppercase;
    border: 1px solid #182cc0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
    transition: background-position .25s ease-in-out;
    display: none;
}

.section_awards-swiper {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.award-card {
    height: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    flex-direction: column;
    font-size: 14px;
    text-decoration: none;
    transition: border-color .4s ease-in-out, box-shadow .4s ease-in-out;
    display: flex;
}

.award-card:hover {
    border-color: #eef1f1;
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);
}

.award-card_content {
    grid-row-gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    display: flex;
}

.award_logo-wrapper {
    height: 52px;
    max-height: 100%;
    width: auto;
    align-items: center;
    display: flex;
}

/* footer */

.footer {
    padding-top: 60px;
}

.footer_top {
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 50px;
}

.footer_top-inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer_logo-link {
    width: 165px;
    color: #141719;
}

.footer_logo {
    align-items: center;
    display: flex;
}

.footer_main {
    background-color: #fff;
    padding-bottom: 45px;
}

.footer_main-inner {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.footer_dropdown-toggle {
    color: #141719;
    padding-bottom: 24px;
    font-weight: 700;
}

.footer_dropdown-arrow {
    transition: .6s;
}

.footer_dropdown-arrow, .footer_logo.is-mobile {
    display: none;
    transition: .6s
}

.footer_dropdown-arrow.active {
    transform: rotate(180deg);
}

.footer_dropdown-toggle-kink {
    text-decoration: none;
}

.overflow-h-dropdown {
    height: 0px;
    overflow: hidden;
    transition: height 900ms;
}

.overflow-h-dropdown.active {
    height: 88px;
    overflow: hidden;
    transition-property: height;
    transition: height 900ms ease;
}

.footer_dropdown-list {
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.footer_dropdown-link {
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.footer_dropdown-link:hover {
    color: #182cc0;
}

.footer_heading {
    color: #141719;
    margin-bottom: 16px;
    font-weight: 700;
    text-decoration: none;
}

.footer_contact-list {
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    font-style: normal;
    display: flex;
}

.header_dropdown-link.router-link-active, .header_dropdown-link.w--current, .header_dropdown-link:hover {
    color: #182cc0;
}

.footer_contact-item {
    grid-column-gap: 10px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
}

.footer_contact-item:hover {
    text-decoration: underline;
}

.footer_social-list {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-wrap: wrap;
    display: flex;
}

.footer_social-link {
    width: 40px;
    height: 40px;
    background-color: #f9fafa;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    display: flex;
}

.footer_social-link:hover {
    color: #182cc0;
    background-color: #eee;
}

.footer_bottom {
    background-color: #fff;
    border-top: 1px solid #eef1f1;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 12px;
}

.footer_bottom-inner {
    grid-column-gap: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer_bottom-logo-wrapper {
    grid-column-gap: 8px;
    align-items: center;
    display: flex;
}

.footer_bottom-logo {
    width: 21px;
    align-items: center;
    display: flex;
}

.footer_bottom-links {
    grid-column-gap: 35px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.footer_bottom-link {
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.footer_bottom-link:hover {
    color: #182cc0;
}

/* cookies */

.cookies_wrapper {
    z-index: 90;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 66px;
    left: 0;
    right: 0;
}

.cookies_block {
    width: 90%;
    max-width: 700px;
    grid-column-gap: 24px;
    background-color: #fff;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    font-size: 12px;
    display: flex;
    box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);
}

.arrow-link {
    grid-column-gap: 6px;
    color: #182cc0;
    text-transform: uppercase;
    flex: none;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    transition: color .25s ease-in-out;
    display: flex;
}

/* button-menu */

.button-menu {
    z-index: 90;
    grid-row-gap: 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.button-menu_trigger {
    width: 56px;
    height: 56px;
    color: #fff;
    cursor: pointer;
    background-color: #424a4d;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background-color .25s ease-in-out;
    display: flex;
}

.button-menu_trigger:hover {
    background-color: rgba(66, 74, 77, .8);
}

/* Zoom in images */

.grid-card_img-wrapper img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.grid-2-col :hover img {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}

img {
    height: auto;
    max-width: 100%;
    display: inline-block;
}

.swiper-slide img {
    margin-top: 0px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.swiper-slide:hover .banner_img {
    margin-top: -4px;
}

/* @media */

@media screen and (min-width: 1440px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .big-message_text {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .get-app_inner {
        min-height: 414px;
    }
}

@media screen and (min-width: 1440px) {
    .swiper_nav-arrows {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .swiper_scrollbar {
        margin-right: 92px;
    }
}

@media screen and (max-width: 1439px) {
    .swiper-container {
        overflow: visible;
    }
}

@media screen and (max-width: 991px) {
    .header_menu {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .lang_dropdown.is-header {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 991px) {
    .section_get-app, .section_products-swiper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .section_offers-swiper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .section_numbers {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .numbers {
        grid-row-gap: 30px;
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .section_home-hero {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .section_become-concept {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .button-menu {
        bottom: 24px;
        right: 24px;
    }
}

@media screen and (max-width: 991px) {
    .header_menu-button {
        display: flex;
    }
}

@media screen and (max-width: 991px) {
    .banner_content {
        padding: 240px 45px 36px;
    }
}

@media screen and (max-width: 991px) {
    .padding-global {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 991px) {
    .app-button-mobile {
        display: flex;
    }
}

@media screen and (max-width: 991px) {
    .section_home-hero {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .section_awards-swiper, .section_blogs-swiper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .grid-card {
        min-height: 232px;
    }
}

@media screen and (max-width: 991px) {
    .grid-card_content {
        padding: 24px;
    }
}

@media screen and (max-width: 991px) {
    .get-app_inner {
        min-height: 300px;
    }
}

@media screen and (max-width: 991px) {
    .section_big-message {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 991px) {
    .app-button {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .lang_toggle {
        height: 40px;
        background-color: #f9fafa;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media screen and (max-width: 991px) {
    .lang_list-wrapper {
        top: 40px;
    }
}

@media screen and (max-width: 991px) {
    .header_menu-mobile-contacts, .header_mobile-dropdown {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 767px) {
    .header_logo-link {
        width: 36px;
        flex: none;
    }
}

@media screen and (max-width: 767px) {
    .header_logo.is-mobile {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .header_logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .section_get-app, .section_products-swiper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .grid-card_img-wrapper {
        border-radius: 0;
    }
}

@media screen and (max-width: 767px) {
    .section_awards-swiper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .big-message_text {
        font-size: 28px;
    }
}

@media screen and (max-width: 767px) {
    .section_big-message {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section_become-concept {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section_home-hero {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer_logo-link {
        width: 35px;
    }
}

@media screen and (max-width: 767px) {
    .footer_logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .app-button-mobile {
        flex: 1;
    }
}

@media screen and (max-width: 767px) {
    .footer_top {
        border-bottom: 1px solid #d1d5d6;
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 767px) {
    .footer_dropdown-toggle {
        grid-column-gap: 36px;
        justify-content: space-between;
        align-items: center;
        padding: 36px 45px;
        font-size: 24px;
        line-height: 1.5;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .grid-card {
        width: 280px;
        flex: none;
    }
}

@media screen and (max-width: 767px) {
    .footer_dropdown-arrow {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .footer_social-list {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media screen and (max-width: 767px) {
    .swiper-wrapper {
        padding-bottom: 28px;
    }
}

@media screen and (max-width: 767px) {
    .footer_main {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer_dropdown-list-div {
        height: 0px;
        overflow: hidden;
        transition: height 900ms;
    }
}

@media screen and (max-width: 767px) {
    .section_numbers, .section_offers-swiper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .section_home-hero {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .heading-wrapper {
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 767px) {
    .footer_main-inner {
        grid-row-gap: 0;
        flex-direction: column;
        margin-left: -45px;
        margin-right: -45px;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .footer_dropdown {
        border-bottom: 1px solid #d1d5d6;
    }
}

@media screen and (max-width: 767px) {
    .footer_bottom {
        background-color: #f9fafa;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .banner {
        border-radius: 0;
        margin-left: -45px;
        margin-right: -45px;
    }
}

@media screen and (max-width: 767px) {
    .banner_img-wrapper {
        border-radius: 0;
    }
}

@media screen and (max-width: 767px) {
    .banner_inner {
        max-width: 100%;
        align-items: stretch;
    }
}

@media screen and (max-width: 767px) {
    .footer_bottom-inner {
        grid-row-gap: 32px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .footer_logo-link {
        width: 44px;
    }
}

@media screen and (max-width: 767px) {
    .footer_bottom-logo-wrapper {
        color: #6f787b;
    }
}

@media screen and (max-width: 767px) {
    .footer_bottom-links {
        grid-column-gap: 30px;
        order: -1;
    }
}

@media screen and (max-width: 767px) {
    .get-app_inner {
        min-height: 0;
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 767px) {
    .get-app_content {
        width: 100%;
        grid-row-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .product-card {
        border-radius: 6px;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .product-card_img-wrapper {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding-top: 42%;
    }
}

@media screen and (max-width: 767px) {
    .product-card_content {
        grid-row-gap: 12px;
        padding: 20px;
    }
}

@media screen and (max-width: 767px) {
    .card-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .app-button {
        flex: 1;
    }
}

@media screen and (max-width: 767px) {
    .get-app_img {
        max-height: none;
        align-self: center;
        position: static;
    }
}

@media screen and (max-width: 767px) {
    .grid-2-col {
        grid-column-gap: 16px;
        margin-left: -45px;
        margin-right: -45px;
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        overflow: auto;
    }
}

@media screen and (max-width: 767px) {
    .get-app_buttons {
        width: 100%;
        margin-top: -4px;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .cookies_wrapper {
        bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .award-card {
        border-style: none;
        border-radius: 6px;
    }
}

@media screen and (max-width: 767px) {
    .footer_contact-list {
        grid-row-gap: 32px;
    }
}

@media screen and (max-width: 767px) {
    .cookies_block {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer_dropdown-list {
        grid-row-gap: 24px;
        padding-bottom: 36px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (max-width: 767px) {
    .award-card_content {
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .footer_main-col.is-contact {
        padding: 56px 45px;
    }
}

@media screen and (max-width: 767px) {
    .footer_logo.is-mobile {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .section_home-hero {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .header_menu-mobile-bottom {
        background-color: #f9fafa;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    h2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .header_menu-mobile-contacts, .header_mobile-dropdown {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .header_menu-mobile-bottom {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    .footer_dropdown-arrow {
        width: 24px;
    }
}

@media screen and (max-width: 479px) {
    .header_buttons {
        grid-column-gap: 8px;
    }
}

@media screen and (max-width: 479px) {
    .cookies_text {
        width: 100%;
        order: 1;
    }
}

@media screen and (max-width: 479px) {
    .footer_contact-list {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 479px) {
    .cookies_wrapper {
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .footer_main-col.is-contact {
        padding: 32px 15px;
    }
}

@media screen and (max-width: 479px) {
    .cookies_block {
        width: 100%;
        grid-row-gap: 16px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 479px) {
    .header_container {
        grid-column-gap: 24px;
    }
}

@media screen and (max-width: 479px) {
    .footer_logo {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .footer_dropdown-list {
        grid-row-gap: 16px;
        padding-bottom: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .header_logo.is-mobile {
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 479px) {
    .header_logo {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .swiper-wrapper {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 479px) {
    .banner_content {
        padding: 172px 15px 20px;
    }
}


@media screen and (max-width: 479px) {
    .product-card_img-wrapper {
        padding-top: 57%;
    }
}

@media screen and (max-width: 479px) {
    .section_awards-swiper, .section_blogs-swiper, .section_get-app, .section_products-swiper {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .get-app_content {
        grid-row-gap: 24px;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    .heading-wrapper {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 479px) {
    .section_numbers {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .numbers_item {
        padding: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .footer_logo.is-mobile {
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 479px) {
    .numbers_number {
        font-size: 36px;
    }
}

@media screen and (max-width: 479px) {
    .numbers {
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 479px) {
    .grid-2-col {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .section_become-concept {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .section_big-message {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .get-app_inner {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 479px) {
    .breadcrumbs_component {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 479px) {
    .footer {
        padding-top: 36px;
    }
}

@media screen and (max-width: 479px) {
    .footer_top {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 479px) {
    .footer_dropdown-toggle {
        padding: 24px 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    .arrow-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    .breadcrumbs_current-page {
        background-image: url(/img/chevron-left.85606530.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: auto;
        padding-left: 20px;
    }
}

@media screen and (max-width: 479px) {
    .section_offers-swiper {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .banner {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 479px) {
    .footer_main-inner {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 479px) {
    .padding-global {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .footer_bottom {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 479px) {
    .footer_bottom-inner {
        grid-row-gap: 24px;
    }
}

@media screen and (max-width: 479px) {
    .section_home-hero {
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .section_numbers {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .numbers_item {
        padding: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .numbers_number {
        font-size: 36px;
    }
}

@media screen and (max-width: 479px) {
    .numbers {
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 479px) {
    .grid-2-col {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 479px) {
    .section_become-concept {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .section_big-message {
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 479px) {
    .get-app_inner {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 479px) {
    .breadcrumbs_component {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

